:root {
	--white: #fff;
	--blue5: #f8f9f9;
	--blue10: #ebf0f2;
	--blue30: #d1dfe4;
	--gray50: #ddd;
	--gray: #a6a6a6;
	--grayBlack50: #777;
	--grayBlack: #333;
	--blueBlack: #3e4347;
	--grayBlack110: #000;
	--gray-grayBlack-pair: #a6a6a6;
	--gray50-blueBlack120-pair: #ddd;
	--grayBlack-white-pair: #333;
	--orange5-grayBlack110-pair: #fff5e9;
	--orange50-grayBlack90-pair: #ffce95;
	--white-blueBlack110-pair: #fff;
	--header-height: 80px;
	--headerNav-color1:#278DCE;
	--headerNav-color2:#F37F00;
	--headerNav-color3:#0F959D;
}


@media (max-width:768px) {
	:root {
		--header-height: 55px
	}
}

@media (max-width:414px) {
	:root {
		--header-height: 45px
	}
}

@media (prefers-color-scheme:dark) {
	.ua-frodo-webview {
		--white: #262a2d;
		--blue5: #000;
		--blue10: #141516;
		--blue30: #141516;
		--gray50: #3d3d3d;
		--gray: #777;
		--grayBlack50: #777;
		--grayBlack: #a6a6a6;
		--blueBlack: #a6a6a6;
		--grayBlack110: #fff;
		--gray-grayBlack-pair: #333;
		--gray50-blueBlack120-pair: #141516;
		--grayBlack-white-pair: #fff;
		--orange5-grayBlack110-pair: #000;
		--orange50-grayBlack90-pair: #3d3d3d;
		--white-blueBlack110-pair: #262a2d
	}
}

.ua-frodo-webview-darkmode {
	--white: #262a2d;
	--blue5: #000;
	--blue10: #141516;
	--blue30: #141516;
	--gray50: #3d3d3d;
	--gray: #777;
	--grayBlack50: #777;
	--grayBlack: #a6a6a6;
	--blueBlack: #a6a6a6;
	--grayBlack110: #fff;
	--gray-grayBlack-pair: #333;
	--gray50-blueBlack120-pair: #141516;
	--grayBlack-white-pair: #fff;
	--orange5-grayBlack110-pair: #000;
	--orange50-grayBlack90-pair: #3d3d3d;
	--white-blueBlack110-pair: #262a2d
}
